<!-- <div style="width: 100%;  height: 100%;" fxLayout="row">
    <app-vertical-left-bar></app-vertical-left-bar>
    <div fxLayout="column" style="width: 100%;">
        <div class="content-area" style="height: calc(100% - 480px);">
            <div *ngIf="gameService.iAmNextPlayer() && !gameService.iAmPlaying()">
                It's your turn !
                <button class="btn btn-primary" (click)="gameController.rollTheDices()">Roll the Dices</button>
            </div>
        </div>
        <app-dock-container [height]="480"></app-dock-container>
    </div>
</div> -->
<div class="content-container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutAlign="center start" fxLayoutAlign.xs="start center">
    <nav style="width:30%; min-width: 340px;">
        <section class="sidenav-content">
            <div style="text-align: center;">
                <h3 style="margin-bottom: 24px;">Game Session</h3>
                <button class="btn" style="text-align: right; width: auto;" (click)="showGameStatus()">
                  <img src="assets/logo-xs.png" width="auto" height="80%">
                  <span style="margin-right: 24px; margin-left: 6px;">{{gameService.game?.sessionId}}</span>
                  </button>
                <p>created by {{gameService.getUsername(gameService.game.creator)}}</p>
            </div>
        </section>
        <!-- <section class="sidenav-content">
            <div style="text-align: center;">
                <h3 style="margin-bottom: 24px;">Game Controls</h3>
                <app-game-controls></app-game-controls>
            </div>
        </section> -->
        <section class="sidenav-content">
            <div style="text-align: center;">
                <h3 style="margin-bottom: 24px;">Players</h3>
                <app-players-list></app-players-list>
            </div>
        </section>
    </nav>
    <div class="content-area" style="width: auto; min-height: 720px;">
        <!-- <app-flex-test-one></app-flex-test-one> -->
        <!-- <p>Hello</p>
        <div class="content-area" style="height: calc(100% - 480px);">
            <div *ngIf="gameService.iAmNextPlayer() && !gameService.iAmPlaying()">
                It's your turn !
                <button class="btn btn-primary" (click)="gameController.rollTheDices()">Roll the Dices</button>
            </div>
        </div>
        <app-dock-container [height]="480"></app-dock-container> -->
        <app-board></app-board>
    </div>
    <!-- <div class="game-status-drawer-btn">
        <clr-dropdown *ngIf="connectionService.isConnected" class="dropdown bottom-right">
            <button class="nav-icon" clrDropdownToggle style="text-align: right; width: auto;" (click)="showGameStatus()">
<img src="assets/logo-xs.png" width="auto" height="80%">
<span *ngIf="!mobileQuery.matches" style="margin-right: 24px; margin-left: 6px;">{{gameService.game?.sessionId}}</span>
<clr-icon shape="caret down"></clr-icon>
</button>
        </clr-dropdown>
    </div>
    <mat-drawer-container>
        <mat-drawer #gameStatusDrawer [position]="'end'" [mode]="'over'" [opened]="gameStatusVisible">
            <app-game-status></app-game-status>
        </mat-drawer>
    </mat-drawer-container> -->
</div>
