<div style="width: 350px; overflow-x: auto;">
    <table class="table">
        <tbody>
            <tr>

                <td>
                    <p>Game Session Id:</p>
                    {{gameService.game?.sessionId}}</td>
            </tr>
            <tr>

                <td>
                    <p>Created by:</p>
                    {{gameService.getUsername(gameService.game?.creator)}}</td>
            </tr>
            <tr>

                <td>
                    <p>Date:</p>{{gameService.game?.creationDate.toLocaleString()}}</td>
            </tr>
            <tr style='height: 100px;'>

                <td>
                    <p>Players:</p>
                    <div *ngFor="let player of gameService.players">
                        <div>{{gameService.getUsername(player)}} (Tezos Account Id: <a href="https://carthagenet.tzstats.com/{{player}}" target="_blank">{{player}}</a>)</div>
                    </div>
                </td>
            </tr>
            <tr style="height: 100px;">
                <td>
                    <p>Smart Contracts:</p>
                    <p><a href="https://carthagenet.tzstats.com/{{gameService.game?.contractAddresses.game}}" target="_blank">Main: {{gameService.game?.contractAddresses.game}}</a></p>
                    <p><a href="https://carthagenet.tzstats.com/{{gameService.game?.contractAddresses.token}}" target="_blank">Token: {{gameService.game?.contractAddresses.token}}</a></p>
                    <p><a href="https://carthagenet.tzstats.com/{{gameService.game?.contractAddresses.assets}}" target="_blank">Assets: {{gameService.game?.contractAddresses.assets}}</a></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- <div>
    <label>Current status:</label>
    <div>{{gameService.creationStatus}}:{{gameService.playingStatus}}</div>
</div>
<div>
</div>
<div>
    <label>Game contract:</label>

</div>
<div>
    <label>Players</label>
    <div *ngFor="let player of gameService.players">
        <div><a href="https://carthagenet.tzstats.com/{{player}}" target="_blank">{{player}}</a></div>
    </div>
</div>
<div>
    <label>Token contract:</label>

</div>
<div>
    <label>Game Creator:</label>
    <div><a href="https://carthagenet.tzstats.com/{{gameService.gameCreator}}" target="_blank">{{gameService.gameCreator}}</a></div>
</div> -->
<!-- <div>
    <label>Next Player:</label>
    <div>{{gameService.nextPlayer}}</div>
</div>

<div>
    <label>My balance in game:</label>
    <div>{{gameService.myBalance}}</div>
</div> -->