.mat-card {
    background: none;
}

.login-wrapper .login {
    // width: 50em;
    // left: 25%;
}

.login-wrapper {
    // background-image: "assets/crypto-fantasia.png" !important;
}

.subtitle {
    text-align: center;
    font-size: medium;
    width: 80%;
    min-width: 300px;
    font-weight: bolder;
}

.subtitle-large {
    text-align: center;
    font-size: xx-large;
    width: 50%;
    min-width: 640px;
    font-weight: bolder;
}
