<clr-vertical-nav class="vertical-nav" [clrVerticalNavCollapsible]="true" [clrVerticalNavCollapsed]="false" [clr-nav-level]="1">
    <a clrVerticalNavLink>Charmander</a>
    <div class="nav-divider"></div>
    <a clrVerticalNavLink>Credit</a>
    <div class="nav-divider"></div>
    <clr-vertical-nav-group>
        People
        <clr-vertical-nav-group-children>
            <a clrVerticalNavLink *ngFor="let person of ['Alice', 'Bob', 'Charlie']">{{person}}</a>
        </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>
</clr-vertical-nav>