.overview {
    background-size: cover;
    height: auto;
    min-height: 100%;
    // background: black;
}

.subtitle {
    text-align: center;
    font-size: medium;
    width: 80%;
    min-width: 350px;
    font-weight: bolder;
}

.subtitle-large {
    text-align: center;
    font-size: xx-large;
    width: 50%;
    min-width: 640px;
    font-weight: bolder;
}

.catchphrase {
    text-align: center;
    font-size: medium;
    width: 80%;
    min-width: 350px;
    line-height: 35px;
}

.catchphrase-large {
    text-align: center;
    font-size: x-large;
    width: 50%;
    min-width: 640px;
    line-height: 40px;
}

.large {
    font-size: large !important;
}

.large h2 {
    font-size: 1.5rem !important;
}

.large h1 {
    font-size: 2rem !important;
}

.large h3 {
    font-size: 1.2rem !important;
}

.large h4 {
    font-size: 1rem !important;
}

.large p {
    font-size: large !important;
}

.bloc {
    background: #08080852;
    opacity: 0.8;
    padding: 24px;
    width: 100%;
}

.btn {
    font-weight: bolder;
    font-size: large;
    width: 200px;
    height: 50px;
    border-radius: 8px;
}

.btn-large {
    font-weight: bolder;
    font-size: x-large;
    width: 320px;
    height: 80px;
    border-radius: 24px;
}

.img-avatar {
    padding-left: 8px;
    padding-right: 8px;
    height: 48px;
}
