<div class="main-container" style="background-image: url('assets/background.png'); ">
    <app-header *ngIf="connectionService.isConnected && gameService.isConnected"></app-header>
    <!-- <app-sub-nav-bar></app-sub-nav-bar> -->
    <app-waiter></app-waiter>
    <app-modal></app-modal>
    <div fxLayout="column" style="width: 100%;  height: auto;">
        <app-progress-bar></app-progress-bar>
        <app-alert></app-alert>
        <div class="content-container" *ngIf="!connectionService.isConnected || !gameService.isConnected">
            <app-connection-page style="width: 100%;"></app-connection-page>
        </div>
        <div class="content-container" *ngIf="connectionService.isConnected && gameService.creationStatus === 'PLAYING'">
            <app-playground-page style="width: 100%;  height: 100%;"></app-playground-page>
        </div>
        <div class="content-container" *ngIf="connectionService.isConnected && (gameService.creationStatus === 'IN_CREATION' || gameService.creationStatus === 'READY')">
            <app-game-creation-page style="width: 100%;  height: 100%;"></app-game-creation-page>
        </div>
        <div class="content-container" *ngIf="connectionService.isConnected && gameService.creationStatus === 'FAILED'">
            <app-game-failure-page style="width: 100%;  height: 100%;"></app-game-failure-page>
        </div>
        <div class="content-container" *ngIf="connectionService.isConnected && gameService.creationStatus === 'ENDED'">
            <app-game-over-page style="width: 100%;  height: 100%;"></app-game-over-page>
        </div>
    </div>
    <!-- <app-footer></app-footer> -->
</div>
