<div class="dock-container" [ngStyle]="{ 'height': height + 'px' }" fxLayout="row">
    <div class="dock-left">
        <p>dock-container works!</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <h1>TheEnd</h1>
    </div>
    <div fxFlex class="dock-right">
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <p>blablablabl</p>
        <h1>TheEnd</h1>
    </div>
</div>