<div class="btn-group btn-primary">
    <button class="btn" (click)="openPopup()">Open Popup</button>
    <button class="btn" (click)="alert('hello world!')">Alert</button>
    <button class="btn" (click)="download()">Download</button>
    <button class="btn" (click)="connect()">Delete</button>
</div>
Earn
<div [innerHTML]="'&amp; &#120151;'"></div>100
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<p>blablablabl</p>
<h1>TheEnd</h1>