<header class="header header-6">
    <img src="assets/banner.png" width="350px;">
    <div class="header-actions">
        <clr-dropdown *ngIf="connectionService.isConnected" class="dropdown bottom-right">
            <button class="nav-icon" clrDropdownToggle style="text-align: right; width: auto;">
            <clr-icon shape="user"></clr-icon>
            <span style="margin-right: 60px; margin-left: 24px;">{{connectionService.username}}</span>
            <clr-icon shape="caret down"></clr-icon>
          </button>
            <div class="dropdown-menu">
                <a clrDropdownItem>Preferences</a>
                <a clrDropdownItem (click)="connectionService.disconnect()">Log out</a>
            </div>
        </clr-dropdown>
        <clr-dropdown class="dropdown bottom-right">
            <button class="nav-icon" clrDropdownToggle>
          <clr-icon shape="help"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
            <div class="dropdown-menu">
                <a clrDropdownItem href="https://github.com/levalleux-ludo/PLOT" target="_blank">About</a>
            </div>
        </clr-dropdown>
    </div>
</header>
