<app-carousel #carousel [showControls]="false" [itemWidth]="200-24" (step)="onCarouselStep($event)">
    <ng-container *ngFor="let slide of slidesStore">
        <ng-container *appCarouselItem>
            <div style="margin-left: -24px;">
                <div class="players" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="{{-6 * slide.players.length}}px">
                    <img *ngFor="let player of slide.players" src="{{player.image}}" width="48px" matTooltip="{{player.name}}">
                </div>
                <!-- <app-space-card [space]="slide" [width]="200"></app-space-card> -->
                <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title" width="200px">
                <div class="item">{{slide.title}}</div>
            </div>
        </ng-container>
    </ng-container>
</app-carousel>

<!--
<input type="number" min="1" max="slidesStore.length" [(ngModel)]="playerBlock" />
<button (click)="goto(playerBlock - 1)">Go to</button> -->

<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
    <div fxLayout="column">
        <div *ngIf="gameService.iAmNextPlayer() && !gameService.iAmPlaying()">
            It's your turn !
            <button class="btn btn-primary" (click)="rollDices()">Roll the Dices</button>
            <div fxLayout="row" style="width: 250px;" fxLayoutGap="12px">
                <app-dice fxFlex #dicePOW [name]="'PoW'" [imagesList]="imagesDicePOW"></app-dice>
                <app-dice fxFlex #dicePOS [name]="'PoS'" [imagesList]="imagesDicePOS"></app-dice>
                <div style="text-align: center;">
                    <div class="story-message">
                        Total
                    </div>
                    <div class="dices-total">{{dicePOW.value + dicePOS.value}}</div>
                </div>
            </div>
            <div style="height:24px; width: 250px;">
                <div class="progress flash progress-fade">
                    <progress *ngIf='rolling' max="100" value="{{progress * 10}}" data-displayval=""></progress>
                </div>
                <!-- <clr-progress-bar *ngIf='rolling' clrValue="{{progress * 10}}" clrMax="100"></clr-progress-bar> -->
            </div>
            <div>progress={{progress}}</div>
        </div>
        <!-- <div fxLayout="row" style="width: 250px;" fxLayoutGap="12px">

            <input type="number" min="1" max="6" [(ngModel)]="targetPOW" />
            <input type="number" min="1" max="6" [(ngModel)]="targetPOS" />
            <button (click)="rollDices(targetPOW, targetPOS)">Roll Dices</button>
        </div> -->
    </div>
    <div *ngIf="showSpace !== -1">
        <h3 style="text-align: center;">Welcome to:</h3>
        <app-space-card [space]="slidesStore[showSpace]" [width]="350"></app-space-card>
    </div>
</div>
<!-- <div>Some tags before</div>
<owl-carousel-o [options]="customOptions">

  <ng-container *ngFor="let slide of slidesStore">
      <ng-template carouselSlide [id]="slide.id">
          <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
      </ng-template>
  </ng-container>

</owl-carousel-o>
<div>Some tags after</div> -->
